#page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*background-color: blue;*/
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  width: 100%;
}

#ten-summon {
  position: fixed;
  display: inline-block;
  width: 100%;
  height: 50%;
  top: 0;
  background-color: gold;
  border: solid red 5px;
  text-align: center;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

#single-summon {
  position: fixed;
  height: 50%;
  display: inline-block;
  width: 100%;
  bottom: 0;
  background-color: gold;
  border: solid red 5px;
  text-align: center;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

#crystal-page, #weapon-page, #character-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#summon-area {
  position: relative;
  height: 70%;
  width: 70%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 5px;
}

#summon-crystal-top-blue {
  position: absolute;
  height: 0;
  width: 0;
  bottom: 50%;
  background-color: transparent;
  border-style: solid;
  border-color: transparent transparent blue transparent;
  border-width: 50px 50px 150px 50px;
}

#summon-crystal-bottom-blue {
  position: absolute;
  height: 0;
  width: 0;
  top: 50%;
  background-color: transparent;
  border-style: solid;
  border-color: blue transparent transparent transparent;
  border-width: 150px 50px 50px 50px;
}

#summon-crystal-top-brown {
  position: absolute;
  height: 0;
  width: 0;
  bottom: 50%;
  background-color: transparent;
  border-style: solid;
  border-color: transparent transparent brown transparent;
  border-width: 50px 50px 150px 50px;
}

#summon-crystal-bottom-brown {
  position: absolute;
  height: 0;
  width: 0;
  top: 50%;
  background-color: transparent;
  border-style: solid;
  border-color: brown transparent transparent transparent;
  border-width: 150px 50px 50px 50px;
}

#summon-crystal-top-rainbow {
  position: absolute;
  height: 0;
  width: 0;
  bottom: 50%;
  background-color: transparent;
  border-style: solid;
  border-color: transparent transparent green transparent;
  border-width: 50px 50px 150px 50px;
}

#summon-crystal-bottom-rainbow {
  position: absolute;
  height: 0;
  width: 0;
  top: 50%;
  background-color: transparent;
  border-style: solid;
  border-color: green transparent transparent transparent;
  border-width: 150px 50px 50px 50px;
}

#crystal {
  /*position: relative;*/
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 50%;
  background-color: transparent;
}

#non-char-area{
  position: relative;
  height: 80%;
  width: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black 5px;
}

#weapon-area, #character-area {
  position: relative;
  height: 80%;
  width: 80%;
  background-color: darkblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid red 5px;
}

.weapon {
  height: 40%;
  width: 40%;
}

.character {
  height: 60%;
  width: 60%;
}

#non-char-name {
  border: solid gold 5px;
  width: 90%;
  position: relative;
  color: black;
  font-size: 40px;
  text-align: center;
  background-color: tan;
}

#weapon-name, #character-name {
  border: solid gold 5px;
  width: 90%;
  position: relative;
  color: gold;
  font-size: 40px;
  text-align: center;
  background-color: white;
  /*position: absolute;
  bottom: 10%;
  left: 50%;*/
}
